html, body,
.SDkEP, .e9EfHf, .rsGxI.Ww4FFb, .Ww4FFb, .appbar, .qe1Dgc, .s8GCU, .Lj9fsd, .dXdtIf, .jZWadf, .f6F9Be {
  color: #A599E9 !important;
  background-color: #1e1e3f;
}

.RNNXgb {
  border-radius: 4px;
}

.gb_Ia,
#searchform *,
#hdtb * {
  color: #A599E9 !important;
  background-color: #1e1e3f !important;
}
