*::-webkit-scrollbar {
  display: none !important;
}

* {
  color: #A599E9 !important;
  background-color: #1e1e3f !important;
  border-color: #A599E9 !important;
}

.i16w2k3p.isActive:before,
.t1t34jte--classic-active:before {
  background-color: #A599E9 !important;
}

.bs9eumw,
#beacon-container {
  display: none;
}

iframe {
  background: white !important;
}